# Пример переменных окружения со значениями по-умолчанию

# Секрет для подписания кук
COOKIE_SECRET=test

# Далее переменные fastify-cli подробнее можно глянуть в документации
# При передаче соответствующего переменной CLI-аргумента значение CLI-аргумента в приоритете

# Порт на котором будет запущен сервер при fastify start
FASTIFY_PORT=3000
# Лимит на размер тела запроса в байтах при fastify start
FASTIFY_BODY_LIMIT=1048576
# Уровень логирования по-умолчания при fastify start
FASTIFY_LOG_LEVEL=fatal
